body {
	background-color : #dej1e6;
	
}

.top-padding{
	padding-top: 30px;
	
}

.bg-dark {
    background-color: #717c86ad!important;
}

.jumbotron {
   
    background-color: #fff;
 
}
.padding-bottom{
	padding-bottom:30px;
	
}